
<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-6">
            <div class="p-3 border bg-light">Aksiyon</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Bilim Kurgu</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Fantastik</div>
        </div>
        <div class="col-6">
            <div class="p-3 border bg-light">Dram</div>
        </div>
    </div>
</div>